<?xml version="1.0" encoding="UTF-8"?>

<configuration>  
	<property name="log_home" value="/app/applogs/cdc-sprb"/>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>GBK</charset> 
        </encoder>  
    </appender>  
    <appender name="baselog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${log_home}/cdc-sprb-web.log</File>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${log_home}/cdc-sprb-web.log.%d%i.log</fileNamePattern>  
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
        		<!-- or whenever the file size reaches 64 MB -->  
        		<maxFileSize>64 MB</maxFileSize>  
      		</timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy>  
        <encoder>  
            <pattern>  
                %d %p (%file:%line\)- %m%n
            </pattern>  
            <charset>UTF-8</charset> <!-- 此处设置字符集 --> 
        </encoder>  
    </appender>
    
    <!-- 个性化日志 -->
    <appender name="individuationInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/individuation-info.log</file>
        <encoder>
            <Pattern>%d %-5p [%thread]%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/individuation-info.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>  
    
    <logger name="com.cdc.logs.IndividuationInfoLog">
        <level value="INFO" />
        <appender-ref ref="individuationInfoLog"/>
    </logger>
    
    <root level="INFO">  
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="baselog" />
    </root>  
    
    
	 
</configuration>